*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
   
    width: 100%;
    height: 700px;
    background-color: rgb(104, 98, 145);
    
}

.caja{
    float: left;
    border: 2px solid red;
    /*width: 100px;*/
    width: calc((100% / 6) - 4px);
    height: 100px;
    margin: 2px;
    text-align: center;
    color: gold;
   
    
    
    
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    #caja4{
        clear:left
    }
   .caja{
    width: calc((100% / 3) - 4px);
   }
}

@media screen and  (max-width: 399px){
    .caja{
        clear: left;
        width: calc(100%  - 4px);
       }  
}



