* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    width: 200px;
    height: 500px;
}

ul > li > ul {
    display: none;
}

ul > li:hover > ul {
    display: block;
    height: 100%;
}

.opcion {
    background: rgb(148, 147, 219);
    color:rgb(0, 25, 252);
    text-align: center;
    margin: auto;
    width: 500px;
    height: 200px;
    

}

.subOpcion {
    padding-left: 20px;
    width: 500px;
    height: 55px;
    background: peru;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: auto;
    
}


/*CODIGO PARA DESPLEGAR EL MODAL */

.VentanaModal {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: red;
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
}

.VentanaModal:target{
    opacity: 1;
    pointer-events: auto;
    background: lawngreen;

}

.VentanaModal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
    background: lightcoral;
}

.botonAbrir:hover {background: blue; color: blueviolet;}
.botonCerrar:hover {background: blue; color: blueviolet;}

